<div class="container-fluid px-5">
    <div class="row">
        <div class="mt-4 col-12 d-flex justify-content-between">
            <h2>Meus Produtos.</h2>

            <button class="btnAddProduct" (click)="newProductModal(detailModal)">Adicionar Produto</button>
        </div>

        <hr class="mt-2">
    </div>

    <div class="product-cards">
        <div *ngFor="let product of products; index as i">
            <div class="card my-2">
                <div>

                </div>

                <img class="card-img-top" [src]="product.img" [alt]="'Foto do ' + product.name">

                <div class="card-body">
                    <h5 class="product-name">{{product.name}}</h5>
                    <p class="product-desc mt-2">{{product.desc}}</p>
                    <h4 class="product-price">R$ {{product.price}}</h4>

                    <hr>
                    <div *ngFor="let category of product.categories" class="product-categories">
                        <button type="button" class="btn">{{ category }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #detailModal let-modal>
    <div class="modal-header ps-4 pe-3 py-0">
        <h6 class="modal-title" id="modal-basic-title"><strong>{{ productAction }} Produto.</strong></h6>
        
        <button type="button" class="closeModalButton" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body pb-0">
        <form #newProductModal="ngForm">
            <div class="newProductForm">

                <input class="form-control" name="name" placeholder="Nome" type="text" ngModel required ngbAutofocus/>
                
                <textarea class="form-control" name="desc" placeholder="Descrição" ngModel required></textarea>

                <div class="priceAndDate">
                    <input class="form-control" name="price" placeholder="Preço" type="text" ngModel required>

                    <input class="form-control" name="date" placeholder="Data Remessa" type="text" onfocus="(this.type='date')" ngModel required>
                </div>
                
                <input class="form-control" name="categories" placeholder="Categorias ( separe-as por vírgulas )" type="text" ngModel required>

                <div>
                    <div class="image-upload">
                        <div class="image-already-selected" *ngIf="selectedImage != null">
                            <button class="selected-file" type="button" (click)="selectedImage = null">
                                {{ selectedImage.name }}

                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="image-not-selected" *ngIf="selectedImage == null">
                            <input id="input-product-img" name="file" type="file" accept="image/*" (change)="onFileSelected($event)" />

                            <div></div>

                            <p>Arraste uma imagem ou</p>
    
                            <label for="input-product-img">
                                Selecionar
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer newProductFormButtons">
        <button type="button" (click)="modal.close('Save click')">Cancelar</button>

        <button type="button" (click)="addProduct(newProductModal)">Salvar</button>
    </div>
</ng-template>

<!-- <ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title"><strong>Remover Produto.</strong></h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        Você realmente deseja excluir esse produto?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-main-alt" (click)="modal.close('Save click')">Cancelar</button>
        <button type="button" class="btn btn-outline-dark btn-main" (click)="deleteProduct()">Confirmar</button>
    </div>
</ng-template> -->