nav {
    background-color: white;
    box-shadow: 0 2px 6px #A8A8A829;
}

#user-info {
    div {
        height: 36px;
        border-left: 1px solid #CCC;
        display: none;

        @media(min-width: 768px) {
            display: inline;
        }
    }

    img {
        height: 36px;
        width: 36px;
        border: 2px solid #725172;
        border-radius: 9px;
        margin: 1rem 1.25rem 1rem 0;

        @media(min-width: 768px) {
            margin: 0 1.25rem;
        }
    }
}
